body {
    background:#91C9FF url(https://showchat.tk/assets/img/style-showchat.png) repeat;
    
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 10px 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

.copy {
  /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
   padding: 15px;
   margin-top: 30px;
   border-radius: 20px;
}

.menu {
  /* position: fixed; */
   top: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: Width;
   padding: 20px;
   margin-top: 30px;
}

.menu a {
  /* float: left; */
  /* display: block; */
  color: #f2f2f2;
  text-align: Width;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background: #ddd;
  color: black;
}