#myCookieConsent {
    z-index: 999;
	/* min-height: 20px; */
    min-height: 60px;
    font-family: OpenSans, arial, "sans-serif";
	/* padding: 10px 20px; */
    padding: 20% 30%;
	/* background: rgba(0,0,0,0.6); */
    background: rgba(0,0,0,0.9);
    overflow: hidden;
    position: fixed;
    color: #FFF;
    bottom: 0px;
	/* right: 10px; */
    right: 0px;
    display: none;
    left: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
#myCookieConsent div {
    padding: 7px 0 0;
}
#myCookieConsent a {
	color: #ffba55;
}
#myCookieConsent a:hover {
	color: #fda016;
}
#myCookieConsent a#cookieButton {
    display: inline-block;
    color: #000000;
    font-size: 1.1em;
	background: #ffba55;
    text-decoration: none;
    cursor: pointer;
	/* padding: 4px 20px; */
    padding: 40px 200px;
    float: right;
    border-radius: 20px;
}
#myCookieConsent a#cookieButton:hover {
    background: #fda016;
	color: #000;
}
@media (max-width: 980px) {

}